<div class="container-fluid " >
    <div class="" style="margin-top:150px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                 <div class="text-center">
                    <h3 class="text-primary">Admin LogIn</h3>
            
                </div>
                <form action="/admin/login" method="post">
                    <div class="p-4">
                            <span>
                            <p class="error" style="margin-left: 5px; color: rgb(237, 152, 100);">{{message}}</p>
                        </span>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3cg"> Email</label>
                            <input type="email" name="email" class="form-control form-control-lg" />
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3cg"> Password</label>
                            <input type="text" name="password" class="form-control form-control-lg" />
                        </div>
                        


                        <button class="btn btn-primary text-center mt-2" type="submit">
                            Login
                        </button>
                       

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
