<div class="container-fluid " >
    <div class="" style="margin-top:150px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-primary">Sign Up</h3>

                </div>
                <form action="/register" method="post">
                    <div class="p-4">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example1cg"> Name</label>
                            <input type="text" name="name" class="form-control form-control-lg" required/>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3cg"> Email</label>
                            <input type="email" name="email" class="form-control form-control-lg" required/>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3cg"> Phone</label>
                            <input type="number" name="number" class="form-control form-control-lg" required/>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3cg"> Password</label>
                            <input type="text" name="password" class="form-control form-control-lg" required/>
                        </div>
                       



                        <button class="btn btn-primary text-center mt-2" type="submit">
                            Register
                        </button><br><br>
                        <a href="/">Already have an aacount? Signin</a>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>